@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
  font-family: "Lexend Deca", sans-serif;
  text-decoration: none;
  margin: 0 0;
  padding: 0 0;
}